<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tweets
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="auth.logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
    ></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let tweet of tweets">
      <ion-avatar slot="start">
        <img [src]="tweet.avatar">
      </ion-avatar>
      <ion-label text-wrap>
        <h2>{{ tweet.user.email }}</h2>
        <p>{{ tweet.content }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="next($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
